.parentListDiv {
  display: flex;
  border: 2px solid plum;
  width: 80%;
  height: 200px;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 2%;
  padding: 0.5%;
}
.imageDiv {
  width: 30%;
  height: 100%;
  border: transparent;
}
.contentDiv {
  margin-left: 1%;
  width: 60%;
  height: 100%;
  border: transparent;
}
.colorFamilly {
  color: #6b5b95;
  text-overflow: ellipsis;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.blogListing {
  white-space: nowrap;
  width: 100%;
  border: 1px solid transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5%;
}
.familly {
  font-size: 20px;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}
.linkNone {
  text-decoration: none;
  color: black;
}
.parentContainerindiServer {
  width: 100%;
  height: 600px;
  border: transparent;
  display: flex;
  margin-top: 2%;
}

.individualCardContainer {
  width: 59%;
  border: 1px solid transparent;
  height: 600px;
  padding: 1%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  height: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}
.individuImage {
  width: 100%;
  margin: auto;
  height: 50%;
}
.postCommentParentDiv {
  width: 39%;
  /* border: 1px solid yellow; */
  padding: 2%;
}
.userCommentedDiv {
  width: 76.5%;
  border: #6b5b95;
  height: 50px;
  display: flex;
  margin-top: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.userCommentedimageDiv {
  width: 10%;
  border-radius: 50%;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-right: 3px;
}
.userCommentDiv {
  padding: 2% 1%;
  width: 88%;
}
.postPageDiv {
  display: flex;
}
.postPageInput {
  width: 50%;
  font-size: 20px;
  padding: 0.5%;
  border: 1px solid #6b5b95;
}
.postPageButton {
  background-color: #6b5b95;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border: none;
  outline: none;
}

.gridAuthor {
  /* border:20px solid yellow; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  margin-top: 2%;
  justify-content: space-between;
  padding: 10px;
  grid-gap: 2%;
}

.gridChild {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #6b5b95;
  padding: 10px;
  font-size: 22px;
  text-align: center;
  border-radius: 8px;
}
.autorPanelImageDiv {
  height: 200px;
  border: transparent;
}
.authorButtonpan {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
}
.iconDivs {
  width: 10%;
  height: 100%;

  /* border: 1px solid yellow; */
}
.iconn {
  width: 100%;
  height: 100%;
}
/* form css */
.formDiv {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 20px;
  width: 50%;
  height: auto;
  margin: auto;
  margin-top: 3%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.textalignCenter {
  text-align: center;
  color: #2c18c4;
}
.labell {
  font-size: 25px;
  font-weight: 800;
}
.inputText {
  width: 93%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1%;
  font-size: 20px;
}
/* form  */
.inputSubmit {
  width: 100%;
  background-color: #6b5b95;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 22px;
}

.inputSubmitHover:hover {
  background-color: purple;
}
.linkDecoration {
  text-decoration: none;
  color: blue;
  text-align: left;
}

/* table starts here */
.tableContainer {
  /* border: 1px solid #6b5b95; */
  margin: auto;
  margin-top: 2%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 80%;
  font-size: 22px;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
}

.theadd {
  color: orange;
  font-size: 24px;
  background-color: #6050dc;
}

.tableth {
  text-align: center;
  color: white;
  font-size: 22px;
  font-weight: 500;
  width: 10%;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px 0px;
}
.tabletd {
  text-align: center;
  color: #6b5b95;
  font-size: 22px;
  font-weight: 500;
  width: 10%;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px 0px;
  overflow: hidden;
}
.tableButton {
  width: 50%;
  height: 100%;
  background-color: transparent;
  font-size: 18px;
  color: #6b5b95;
  font-weight: 500;
  border: transparent;
}

/* createpagcs */

.responsiveimg {
  width: 30%;
  height: 50px;
  border: transparent;
  margin: auto;
}

/* navbarr */

.menu {
  width: 100%;
  background: #6b5b95;
  overflow: auto;
}
.menuul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  line-height: 60px;
}
.menuli {
  float: left;
}
.lilink {
  text-decoration: none;
  /* background-color: white; */
  color: white;
  width: 130px;
  display: block;
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  letter-spacing: 0.5px;
}
.lilinkHover:hover {
  color: yellow;
}

.serchInput {
  margin-top: 15px;
  float: right;
  margin-right: 100px;
  padding: 7px;
  border: none;
  font-size: 16px;
  font-family: sans-serif;
  /* width: 30%; */
}
/* paginated component css */

.paginatedCom {
  width: 30%;
  height: 40px;
  border: transparent;
  text-align: center;
  margin: auto;
}
.paginatedButton {
  background-color: #6b5b95;
  color: white;
  border: 1px solid white;
  width: 10%;
  height: 100%;
  font-weight: 800;
}
.paginatedButton:hover {
  background-color: blue;
}
