.navul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
}

.navli {
  display: inline;
  margin: 20px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

/* a{
  text-decoration: none;
} */

.divContainer {
  width: 100%;
  height: 50px;
  border: 1px solid yellow;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  background-color: #6b5b95;
}
.navDiv {
  width: 60%;
  padding: 1%;
  border: 1px solid crimson;
}
.inpudiv {
  width: 30%;
  margin-left: 1%;
  border: 1px solid black;
}
.inputt {
  width: 100%;
  height: 30px;
  margin-top: 8px;
  border: 1px solid black;
}
.noDecoration {
  text-decoration: none;
  color: white;
}
.parentListDiv {
  display: flex;
  border: 2px solid black;
  width: 80%;
  height: 150px;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 2%;
}
.imageDiv {
  width: 30%;
  height: 100%;
  border: 1px solid crimson;
}
.contentDiv {
  margin-left: 3%;
  width: 60%;
  height: 100%;
  border: 1px solid yellow;
}
.colorFamilly {
  color: #6b5b95;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.familly {
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
}

.individualCardContainer {
  width: 70%;
  border: 1px solid black;
  height: 600px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 90%;
  margin-left: 2%;
  margin-top: 2%;
  height: 500px;
  border: 1px solid crimson;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}
.individuImage {
  width: 100%;
  height: 50%;
}
.parentContainerindiServer {
  width: 100%;
  height: 800px;
  border: 1px solid purple;
  display: flex;
  margin-top: 5%;
}

.postCommentParentDiv {
  width: 40%;
  /* height: 400px; */
  border: 1px solid yellow;
}
.userCommentedDiv {
  width: 100%;
  border: 1px solid red;
  height: 50px;
  display: flex;
  margin-top: 5px;
}
.userCommentedimageDiv {
  width: 50%;
  border: 1px solid green;
  height: 100%;
  margin-right: 3px;
}

.gridAuthor {
  display: grid;
  margin-top: 2%;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  padding: 10px;
  grid-gap: 2%;
}

.gridChild {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 22px;
  text-align: center;
  border-radius: 8px;
}
.authorButtonpan {
  width: 100%;
  height: 30px;
  display: flex;
}
.iconDivs {
  width: 10%;
  height: 100%;
  /* border: 1px solid yellow; */
}
.iconn {
  width: 100%;
  height: 100%;
}
/* form css */
.formDiv {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 20px;
  width: 50%;
  height: auto;
  margin: auto;
  margin-top: 3%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.textalignCenter {
  text-align: center;
  color: #6b5b95;
}
.labell {
  font-size: 25px;
  font-weight: 800;
}
.inputText {
  width: 93%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1%;
}
/* form  */
.inputSubmit {
  width: 100%;
  background-color: #6b5b95;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 22px;
}

.inputSubmitHover:hover {
  background-color: purple;
}
.linkDecoration {
  text-decoration: none;
  color: blue;
  text-align: left;
}
.tablee {
  width: 80%;
  font-size: 22px;
  text-decoration: none;
  /* height: 500px; */
}
.tabletdth {
  /* border: 3px solid purple; */
  text-align: center;
  color: #6b5b95;
  font-size: 20px;
  font-weight: 700;
  width: 15%;
  text-decoration: none;
  border: 2px solid #6b5b95;
  font-size: 22px;
}
.tableContainer {
  width: 100%;
  border: 5px solid #6b5b95;
  margin-top: 2%;
  height: 400px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  /* background-color: paleturquoise; */
}
.tableButton {
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-size: 20px;
  color: #6b5b95;
  font-weight: 700;
  border: transparent;
}
.theadd {
  color: black;
  font-size: 34px;
}

/* createpagcs */

.responsiveimg {
  width: 30%;
  height: 50px;
  border: transparent;
  margin: auto;
}

/* navbarr */

.menu {
  width: 100%;
  background: #6b5b95;
  overflow: auto;
}
.menuul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  line-height: 60px;
}
.menuli {
  float: left;
}
.lilink {
  text-decoration: none;
  /* background-color: white; */
  color: white;
  width: 130px;
  display: block;
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  letter-spacing: 0.5px;
}
.lilinkHover:hover {
  color: yellow;
}

.serchInput {
  margin-top: 15px;
  float: right;
  margin-right: 100px;
  padding: 7px;
  border: none;
  font-size: 16px;
  font-family: sans-serif;
  /* width: 30%; */
}
