.navul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
}

.navli {
  display: inline;
  margin:20px;
  text-decoration: none;
  color:white;
  font-size: 18px;
  
}

/* a{
  text-decoration: none;
} */

.divContainer{
  width:100%;
  height:50px;
  border:1px solid yellow;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  background-color:#6b5b95;
}
.navDiv{
  width: 60%;
  padding: 1%;
  border: 1px solid crimson;
}
.inpudiv{
  width:30%;
  margin-left: 1%;
  border:1px solid black;
}
.inputt{
  width:100%;
  height: 30px;
  margin-top: 8px;
  border: 1px solid black;
}
.noDecoration{
  text-decoration: none;
}
.parentListDiv{
  display: flex;
  border:2px solid black;
  width:80%;
  height: 150px;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 2%;
}
.imageDiv{
  width:30%;
  height: 100%;
  border:1px solid crimson;
}
.contentDiv
{
  margin-left: 3%;
  width:60%;
  height: 100%;
  border:1px solid yellow; 
}
.colorFamilly{
  color:#6b5b95;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.familly{
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
  
}